server/src/main/java/ru/hse/kirillgolovko/simpletorrent/appparams/params.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="appParams" type="appParams"/>

    <xs:complexType name="appParams">
        <xs:sequence>
            <xs:element type="xs:int" name="ServerPort" default="8080"/>
            <xs:element type="xs:string" name="SharedDirPath" default="./"/>
            <xs:element type="xs:int" name="maxClients"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>